
.header_area{

}
.container{
    width: 90%;
    margin: 0px auto;
}
.logo_area{
    /* width: 80px; */
    background-color: #ddd;

}
.logo_area .logo_section{
    /* width: 80px; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_area .logo_section img{
    /* width: 80px; */
    height: 80px;
}

.main_Navbar{
    display: flex;
    align-items: center;
    background-color: #000;
    height: 40px;
    margin-bottom: 0;
}
ul{
margin-bottom: 0;
}
ul.main_Navbar li a{
color: #fff;
}

.search_area{
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
}
.search_area input{
    width: 70%;
    line-height: 1.6;
}
.search_area a{
color: #fff;
}